body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.gameboard {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.color {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

/* Agregar colores a los divs */
.celeste {
    background-color: #00a8ff; /* Celeste */
}

.violeta {
    background-color: #9c88ff; /* Violeta */
}

.naranja {
    background-color: #ff9f43; /* Naranja */
}

.verde {
    background-color: #4cd137; /* Verde */
}

.btn-start {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}